@model Review
@{
    ViewData["Title"] = "Review";
}
<h1>Book Review</h1>
<strong>Enter your Review</strong>
<br />
<form method="post" class="container">
    <div class="row p-2">
        <label asp-for="BookTitle" class="control-label col-md-1">Title</label>
        <input asp-for="BookTitle" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <label asp-for="AuthorName" class="control-label  col-md-1">Author</label><br />
        <input asp-for="AuthorName" class="form-control col-md-6" /><br />
    </div>
    <div class="row p-2">
        <label asp-for="Reviewer.Name" class="control-label  col-md-1">Reviewer</label><br />
        <input asp-for="Reviewer.Name" class="form-control col-md-6" /><br />
    </div>
    <div class="row p-2">
        <label asp-for="ReviewText" class="control-label  col-md-1">Review</label><br />
        <textarea asp-for="ReviewText" placeholder="Write your review here" class="form-control col-md-6" >
</textarea>
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
    </div>
</form>

<br />
<hr />

@if (Model != null)
{
    <h2>Your Review</h2>
    <p>
        <strong class="m-3">Title:</strong>
        @Model.BookTitle<br />
        <strong class="m-3">Author:</strong>
        @Model.AuthorName<br />
        <strong class="m-3">Reviewer:</strong>
        @Model.Reviewer.Name<br />
        <strong class="m-3">Review Date:</strong>
        @Model.ReviewDate<br />
        <strong class="m-3">Review:</strong>
        @Model.ReviewText<br />
    </p>
}