@model List<Review>
@{
    ViewData["Title"] = "Reviews";
}

<h1 class="display-4">Filter Reviews</h1>
Enter a book title:
<form method="get" class="container">
    <div class="row p-2">
        <label for="BookTitle" class="control-label col-md-1">Title</label>
        <input name="BookTitle" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
        <a asp-action="Index" class="btn btn-secondary col-3">Reset</a>
    </div>
</form>

<form method="get" class="container">
    <div class="row p-2">
        <label for="ReviewerName" class="control-label col-md-1">Reviewer Name</label>
        <input name="ReviewerName" class="form-control col-md-6" />
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
    </div>
</form>

<h1 class="display-4">Book Reviews</h1>

<div class="text-center">
    <h1 class="display-4">Reviews</h1>
    @foreach (Review review in Model)
    {
        <p>
            <strong class="m-3">Title:</strong>
            @review.Book.BookTitle<br />
            <strong class="m-3">Author:</strong>
            @review.Book.AuthorName<br />
            <strong class="m-3">Reviewer:</strong>
            @review.Reviewer.UserName<br />
            <strong class="m-3">Review Date:</strong>
            @review.ReviewDate.Date<br />
            <strong class="m-3">Review:</strong>
            @review.ReviewText<br />
        </p>
    }

    <a href="/Review/Review">Add a Review</a><br />
    <a href="/Home">Home</a>
</div>